<header>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Training</a>
            </div>
            <div class="main_list">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="yustiblog">Blog</a></li>
                    <li><a routerLink="#">not found</a></li>
                    <li><a routerLink="#">not found</a></li>
                    <li><a routerLink="#">not found</a></li>
                </ul>
            </div>
            <div class="media_button">
                <button class="main_media_button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </nav>
</header>